body {
  background-color: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 100%);
  max-width: 1400px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

p {
  margin-bottom: 0;
}

hr {
  background-color: white;
  margin-top: 2rem;
}

.navbar a {
  color: hsl(0, 0%, 100%);
}

.jumbotron {
  background-color: hsl(0, 0%, 10%);
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  font-weight: bold !important;
  letter-spacing: 0.05rem;
}

.card {
  background-color: hsl(0, 0%, 10%);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 14rem;
}

.badge-primary {
  background-color: hsl(0, 0%, 7%);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.card-img-top {
  border-radius: 0.5rem;
}

.card-text {
  color: hsl(0, 4%, 52%);
}

.img {
  border: 2px solid black;
}

.album {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}

.detail {
  font-size: 1rem;
}

.detail-span {
  color: hsl(0, 4%, 52%);
}

.song {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 35% 50%;
  align-items: center;
  padding: 0.75rem 2rem;
  transition: 0.3s ease-in-out;
}

.song:not(:first-child):hover {
  background-color: hsla(0, 0%, 65%, 0.089);
  border-radius: 0.5rem;
}

.song:not(:first-child):hover .title-span {
  color: hsl(0, 0%, 100%);
}

.column {
  color: hsl(0, 0%, 65%);
  font-weight: 400;
}

.right-time {
  justify-self: end;
  color: hsl(0, 0%, 65%);
  font-weight: 500;
}

.left-number {
  padding-left: 1rem;
}

.left-title {
  font-weight: 500;
}

.title-span {
  color: hsl(0, 0%, 65%);
  font-size: 0.85rem;
  transition: 0.3s ease-in-out;
}

#album {
  padding-left: 2rem;
}

.wrap {
  width: 90vw;
  margin: auto;
}
