img {
  display: block;
  width: 100%;
}

.card {
  width: 10rem;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section-center {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 1rem;
}
